@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main--container {
	background: url('./assets/images/background.png'), var(--bg-color);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.btn {
	background: var(--button-color);
	border-radius: 15px;

	border: 0;
}

.btn:hover {
	background-color: var(--button-color-hover);
	cursor: pointer;
}
